@font-face {
    font-family: P01;
    src: url('fonts/Product Sans Bold.ttf') format('truetype');
}

@font-face {
    font-family: Cooper;
    src: url('fonts/Cooper-Black.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.top img {
    width: 100%;
}

.container {
    padding: 12px;
    padding-bottom: 80px;
}

h1 {
    font-family: Cooper;
    color: #AB0827;
    margin-bottom: 20px;
}

fieldset {
    border: 1px solid #AB0827;
    padding: 20px;
    border-radius: 8px;
}

legend {
    font-weight: bold;
    margin-bottom: 10px;
}

div {
    margin-bottom: 15px;
}

label {
    display: block; /* Para garantir que o label fique em linha com o input */
    margin-bottom: 5px; /* Adiciona espaço entre o label e o input */
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
select {
    width: 100%; /* Preenche toda a largura disponível */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="password"] {
    width: 100%; /* Preenche toda a largura disponível */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #AB0827;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #900620; /* Escurece o botão ao passar o mouse */
}
