@font-face {
    font-family: 'P01';
    src: url('fonts/ProductSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Cooper';
    src: url('fonts/Cooper-Black.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.top img {
    width: 100%;
}

.container {
    padding: 12px;
    padding-bottom: 80px;
}

.welcome {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 8px;
    justify-content: space-between;
}

.welcome-container {
    display: flex;
    align-items: center;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.points {
    color: #AB0827;
    font-weight: bold;
    margin-top: 5px;
}

.not {
    display: flex;
    float: right;
    padding-left: 10%;
}

/* Estilo para a barra de pesquisa */
.search-bar {
    display: flex;
    align-items: center;
    background-color: #ffe5e6;
    border: 2px solid #FFC0CF;
    padding: 12px;
    border-radius: 10px;
}

.search-bar input {
    border: none;
    background: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
    width: 100%;
}

.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
}

/* Estilo do container do carrossel */
.carrossel {
    width: auto;
    height: 176px;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    margin: 10px auto;
}

/* Estilo para as imagens */
.carrossel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* Classe para a imagem visível */
.carrossel img.visivel {
    opacity: 1;
    z-index: 1;
}

h2 {
    font-family: 'Cooper';
    color: #AB0827;
}

h3 {
    font-family: 'P01';
    font-size: 12px;
}

p {
    font-family: 'P01';
    color: #444444;
}

/* Produtos */
.product-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.product {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 12px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    width: 30%;
}

.product img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.product h4 {
    font-size: 10px;
    color: #ffffff;
    background-color: #AB0827;
    display: flex;
    justify-content: center;
    width: 60px;
    padding: 5px 0px;
    border-radius: 50px;
}

/* Promoções */
.promo-list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.promo-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.promo-item img {
    width: 120px;
    height: auto;
    margin-right: 20px;
}

.promo-details {
    display: flex;
    flex-direction: column;
}

.promo-details h3 {
    margin-bottom: 5px;
}

.promo-details p {
    margin-bottom: 10px;
    font-size: 12px;
    color: #444444;
}

.promo-details h4 {
    font-size: 10px;
    color: #ffffff;
    background-color: #AB0827;
    display: flex;
    justify-content: center;
    width: 60px;
    padding: 5px 0px;
    border-radius: 50px;
}

/* Menu fixo inferior */
ul {
    list-style-type: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #FFE4EB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 0px;
    border-radius: 8px 8px 0px 0px;
}

ul a {
    font-family: 'P01';
    font-size: 12px;
    font-weight: bold;
    color: #AB0827;
    padding: 0px 20px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul img {
    margin-bottom: 16px;
    align-items: center;
}
 
/* Barra de acessibilidade */
.acessibilidade {
  width: 100%;
  background: #f1f1f1;
  padding: 8px;
  display: flex;
  justify-content: center;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.acessibilidade button {
  padding: 6px 12px;
  background: #d90000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
}

.acessibilidade button:hover {
  opacity: 0.8;
}

/* Contraste alto */
.contraste {
  filter: invert(1) hue-rotate(180deg);
  background: black !important;
}

.contraste img {
  filter: invert(1) hue-rotate(180deg);
}
